@import "tailwindcss/base.css";
@import "tailwindcss/components.css";
@import "tailwindcss/utilities.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

.Mui-focused {
    color: #00abc2!important;
    svg {
        fill: #00abc2;
    }
}
.Mui-focused {
    .MuiOutlinedInput-notchedOutline {
        border-color: #00abc2!important;
    }
}
.Mui-selected {
    background-color: #00abc2!important;
    span {
        color: #fff;
    }
    svg {
        color: #fff;
    }
}

.MuiTypography-root {
    font-family: 'Inter', sans-serif;
}
